<div>
    <ul class="flex flex-row text-cm-color">
        <li class="border rounded-l-lg p-3 bg-gray-200 text-gray-700">
            <a>Previous</a>
        </li>
        <li class="border p-3 bg-cm-color text-white hover:cursor-pointer"><a href="#">1</a></li>
        <li class="border p-3 hover:bg-gray-100 hover:cursor-pointer"><a href="#">2</a>
        </li>
        <li class="border p-3 hover:bg-gray-100 hover:cursor-pointer"><a href="#">3</a></li>
        <li class="border rounded-r-lg p-3 hover:bg-gray-100 hover:cursor-pointer">
            <a href="#">Next</a>
        </li>
    </ul>
</div>