{
   "extends": [
      "stylelint-config-clean-order/error",
      "stylelint-config-recommended-scss",
      "stylelint-config-sass-guidelines"
   ],
   "rules": {
      "comment-no-empty": true,
      "declaration-property-value-no-unknown": [
         true,
         {
            "message": "Poperty value not allowed"
         }
      ],
      "selector-no-qualifying-type": [
         true,
         {
            "ignore": [
               "attribute"
            ]
         }
      ],
      "selector-class-pattern": [
         "^.[a-z]([a-z0-9-]+)?(__([a-z0-9]+-?)+)?(--([a-z0-9]+-?)+){0,2}$",
         {
            "message": "Expected custom property name to be Block__Element--Modifier"
         }
      ],
      "selector-max-compound-selectors": null,
      "max-nesting-depth": null,
      "custom-property-empty-line-before": [
         "never",
         {
            "message": "Empty line before custom property not allowed"
         }
      ],
      "declaration-empty-line-before": [
         "never",
         {
            "message": "Empty line before declaration not allowed"
         }
      ],
      "no-descending-specificity": null,
      "unit-allowed-list": [
         "%",
         "deg",
         "px",
         "rem",
         "ms",
         "s",
         "vh",
         "vw",
         "fr",
         "dvh"
      ],
      "declaration-property-unit-allowed-list": {
         "/^border/": [
            "px"
         ],
         "/^font-size/": [
            "rem"
         ]
      },
      "order/properties-order": [
         "width",
         "height",
         "padding",
         "padding-top",
         "padding-right",
         "padding-bottom",
         "padding-left",
         "border",
         "margin",
         "margin-top",
         "margin-right",
         "margin-bottom",
         "margin-left",
         "display",
         "flex-direction",
         "position",
         "top",
         "right",
         "bottom",
         "left"
      ]
   },
   "plugins": [
      "stylelint-order"
   ]
}