<footer class="footer">

    <div class="footer__left">
        <img class="left__logo" src="./assets/images/logo_poster.png" alt="Logotipo de la empresa">
        <p class="left__copyright fs-6">2023-2024 | Web con fines didácticos y divulgativos</p>
        <p class="left__copyright fs-6">Autor | Ángel de Lucas Gil</p>
        <p class="left__copyright fs-6">UOC | Máster en Desarrollo de sitios y aplicacions web</p>
    </div>

    <ul class="footer__options">
        <li class="options__elto"><a href="#" class="elto__internal-link">inicio</a></li>
        <li class="options__elto"><a href="#" class="elto__internal-link">chefs</a></li>
        <li class="options__elto"><a href="#" class="elto__internal-link">blog</a></li>
        <li class="options__elto"><a href="#" class="elto__internal-link">cocina</a></li>
    </ul>

    <div class="footer__right">
        <ul class="right__menu">
            <li class="menu__elto"><a href="#footer" class="elto__link"><img src="./assets/images/twitter.svg"
                        alt="Icono enlace a Twitter"></a></li>
            <li class="menu__elto"><a href="#footer" class="elto__link"><img src="./assets/images/instagram.svg"
                        alt="Icono enlace a Instagram"></a></li>
            <li class="menu__elto"><a href="#footer" class="elto__link"><img src="./assets/images/youtube.svg"
                        alt="Icono enlace a Youtube"></a></li>
        </ul>

        <ul class="right__menu">
            <li class="menu__elto"><a href="#footer" class="elto__link">Aviso legal</a></li>
        </ul>
    </div>

</footer>