<footer class="footer">

    <div class="footer__left">
        <img class="left__logo" src="./assets/images/logo_poster.png" alt="Logotipo de la empresa">
        <p class="left__copyright">2023-2024 | Web con fines didácticos y divulgativos</p>
        <p class="left__copyright">Autor | Ángel de Lucas Gil</p>
        <p class="left__copyright">UOC | Máster en Desarrollo de sitios y aplicacions web</p>
    </div>

    <ul class="footer__options">
        <li class="options__elto"><a href="./index.html" class="elto__internal-link">inicio</a></li>
        <li class="options__elto"><a href="./chefs.html" class="elto__internal-link">chefs</a></li>
        <li class="options__elto"><a href="./blog.html" class="elto__internal-link">blog</a></li>
        <li class="options__elto"><a href="./cocina.html" class="elto__internal-link">cocina</a></li>
    </ul>

    <div class="footer__right">
        <ul class="right__menu">
            <li class="menu__elto"><a href="#footer" class="elto__link"><i class="p-1 fa-brands fa-facebook fa-2xl"></i></a></li>
            <li class="menu__elto"><a href="#footer" class="elto__link"><i class="p-1 fa-brands fa-twitter fa-2xl"></i></a></li>
            <li class="menu__elto"><a href="#footer" class="elto__link"><i class="p-1 fa-brands fa-instagram fa-2xl"></i></a></li>
        </ul>

        <ul class="right__menu">
            <li class="menu__elto"><a href="#footer" class="elto__link">Aviso legal</a></li>
        </ul>
    </div>

    

</footer>