<header class="header border-bottom shadow-sm .p-4">

    <nav class="header__nav justify-content-between">
        <a class="nav__logo" href="./index.html">
            <img  src="./assets/images/logo.png?width=160" alt="Logotipo de la empresa">
        </a>

        <a class="nav__logo-movil-text" href="./index.html">
            <img  src="./assets/images/logo_movil.png?width=110" alt="Logotipo de la empresa">
        </a>

        <ul class="nav__options list-group list-group-horizontal align-items-center">
            <li class="options__elto"><a href="#" class="elto__internal-link">chefs</a></li>
            <li class="options__elto"><a href="#" class="elto__internal-link">blog</a></li>
            <li class="options__elto"><a href="#" class="elto__internal-link">cocina</a></li>
        </ul>

        <div class="nav__dropdown d-flex flex-column align-items-end">

            <input class="dropdown__btn form-check-input" type="checkbox" value="" id="flexCheckDefault">
            <label class="dropdown__label form-check-label" for="flexCheckDefault">menu</label>

            <ul class="dropdown__options">
                <li class="options__elto"><a href="#" class="elto__internal-link">chefs</a></li>
                <li class="options__elto"><a href="#" class="elto__internal-link">blog</a></li>
                <li class="options__elto"><a href="#" class="elto__internal-link">cocina</a></li>
            </ul>
        </div>
    </nav>

</header>