<h1 class="hof-title text-center">Platos ganadores últimas ediciones</h1>
<main class="poster-container">

  <div class="poster-container__images">

    <div class="images__container">
      <img class="container__img" src="./assets/images/chef_1.jpg" alt="">
      <div class="container__info">
        <h3 class="h3">María Dueñas</h3>
        <p class="fs-6">Cook Master 2019</p>
        <button id="receip-btn-1" type="button" class="info__btn btn">Ver receta</button>
      </div>
    </div>

    <div class="images__container">
      <img class="container__img" src="./assets/images/chef_2.jpg" alt="">
      <div class="container__info">
        <h3 class="h3">Pedro García</h3>
        <p class="fs-6">Cook Master 2020</p>
        <button id="receip-btn-2" type="button" class="info__btn btn">Ver receta</button>
      </div>
    </div>

    <div class="images__container">
      <img class="container__img" src="./assets/images/chef_3.jpg" alt="">
      <div class="container__info">
        <h3 class="h3">David Gómez</h3>
        <p class="fs-6">Cook Master 2021</p>
        <button id="receip-btn-3" type="button" class="info__btn btn">Más detalles</button>
      </div>
    </div>


    <div class="images__container">
      <img class="container__img" src="./assets/images/chef_4.jpg" alt="">
      <div class="container__info">
        <h3 class="h3">Carla Ruíz</h3>
        <p class="fs-6">Cook Master 2022</p>
        <button id="receip-btn-4" type="button" class="info__btn btn">Más detalles</button>
      </div>
    </div>


    <div class="images__container">
      <img class="container__img" src="./assets/images/chef_5.jpg" alt="">
      <div class="container__info">
        <h3 class="h3">Natalia Rosi</h3>
        <p class="fs-6">Cook Master 2023</p>
        <button id="receip-btn-5" type="button" class="info__btn btn">Más detalles</button>
      </div>
    </div>

  </div>

  <div class="poster-container__recipes">

    <!-- <nav class="recipes__nav nav nav-pills flex-column flex-sm-row position-absolute start-50 translate-middle-x">
      <button id="nav-btn-1" type="button" class="nav__btn btn">2019</button>
      <button id="nav-btn-2" type="button" class="nav__btn btn">2020</button>
      <button id="nav-btn-3" type="button" class="nav__btn btn">2021</button>
      <button id="nav-btn-4" type="button" class="nav__btn btn">2022</button>
      <button id="nav-btn-5" type="button" class="nav__btn btn">2023</button>
    </nav> -->

    <div class="recipes__description">

      <h1 class="description__title h1">Dulce de miel</h1>
      <h2 class="description__author h2">Natalia Rosi - 2023</h2>
      <p class="description__text">La prueba de que un postre también puede ser un ganador en un concurso de cocina</p>      

      <!-- <figure id="receip-fig-1" class="image-container__figure class1">
        <img class="card-img-top figure__img" src="./assets/images/ganador_2019.jpg"
          alt="Foto del plato ganador edición2019 chef_1">
        <figcaption class="figure__author figure-caption">© Designed by Freepik</figcaption>
      </figure>

      <figure id="receip-fig-2" class="image-container__figure class2">
        <img class="card-img-top figure__img" src="./assets/images/ganador_2020.jpg"
          alt="Foto del plato ganador edición2019 chef_1">
        <figcaption class="figure__author figure-caption">© Designed by Freepik</figcaption>
      </figure>

      <figure id="receip-fig-3" class="image-container__figure">
        <img class="card-img-top figure__img" src="./assets/images/ganador_2021.jpg"
          alt="Foto del plato ganador edición2019 chef_1">
        <figcaption class="figure__author figure-caption">© Designed by Freepik</figcaption>
      </figure>

      <figure id="receip-fig-4" class="image-container__figure">
        <img class="card-img-top figure__img" src="./assets/images/ganador_2022.jpg"
          alt="Foto del plato ganador edición2019 chef_1">
        <figcaption class="figure__author figure-caption">© Designed by Freepik</figcaption>
      </figure>

      <figure id="receip-fig-5" class="image-container__figure">
        <img class="card-img-top figure__img" src="./assets/images/ganador_2023.jpg"
          alt="Foto del plato ganador edición2019 chef_1">
        <figcaption class="figure__author figure-caption">© Designed by Freepik</figcaption>
      </figure> -->

    </div>

    <!-- <div class="recipes__description"></div> -->

    <div class="recipes__video-container">

      <div id="receip-video-1" class="video-container__video">
        <video class="ratio ratio-16x9" src="./assets/images/700_F_268868446_fvf10coOerhGAoMGhCto0bWEl4eThZlC_ST.mp4"
          controls loop autoplay></video>
      </div>

      <div id="receip-video-2" class="video-container__video">
        <video class="ratio ratio-16x9" src="./assets/images/240_F_695648854_ZNUYeUaTnm7JqWV5FYCusYFRhTmNMUsb_ST.mp4"
          controls loop autoplay></video>
      </div>

      <div id="receip-video-3" class="video-container__video">
        <video class="ratio ratio-16x9" src="./assets/images/700_F_302449150_PWy1JaNhA1DEjiGb7prqL5LHKqMssoF8_ST.mp4"
          controls loop autoplay></video>
      </div>

      <div id="receip-video-4" class="video-container__video">
        <video class="ratio ratio-16x9" src="./assets/images/700_F_328091735_q0pvzqp8QkOWAHNwLQFGw0EmuqfjdfHK_ST.mp4"
          controls loop autoplay></video>
      </div>

      <div id="receip-video-5" class="video-container__video">
        <video class="ratio ratio-16x9" src="./assets/images/700_F_726411062_2cYISwGyrhzkU7MD7Cl5N6fCJrmMU6Rh_ST.mp4"
          controls loop autoplay></video>
      </div>

    </div>
  </div>

</main>