


<div class="poster-container">
  <div class="poster-container__images">

    <div class="images__container">
      <img class="container__img" src="./assets/images/poster_no_grid_1.jpg" alt="">
      <div class="container__info">
        <h4 class="h4">categorías</h4>
        <p class="fs-6">Dulces, salados, cocktails...</p>
        <button type="button" class="container__btn btn btn-info">Más detalles</button>
      </div>
    </div>

    <div class="images__container">
      <img class="container__img" src="./assets/images/poster_no_grid_2.jpg" alt="">
      <div class="container__info">
        <h4 class="h4">categorías</h4>
        <p class="fs-6">Dulces, salados, cocktails...</p>
        <button type="button" class="container__btn btn btn-info">Más detalles</button>
      </div>
    </div>

    <div class="images__container">
      <img class="container__img" src="./assets/images/poster_no_grid_3.jpg" alt="">
      <div class="container__info">
        <h4 class="h4">categorías</h4>
        <p class="fs-6">Dulces, salados, cocktails...</p>
        <button type="button" class="container__btn btn btn-info">Más detalles</button>
      </div>
    </div>

    
    <div class="images__container">
      <img class="container__img" src="./assets/images/poster_no_grid_4.jpg" alt="">
      <div class="container__info">
        <h4 class="h4">categorías</h4>
        <p class="fs-6">Dulces, salados, cocktails...</p>
        <button type="button" class="container__btn btn btn-info">Más detalles</button>
      </div>
    </div>

    
    <div class="images__container">
      <img class="container__img" src="./assets/images/poster_no_grid_5.jpg" alt="">
      <div class="container__info">
        <h4 class="h4">categorías</h4>
        <p class="fs-6">Dulces, salados, cocktails...</p>
        <button type="button" class="container__btn btn btn-info">Más detalles</button>
      </div>
    </div>


  </div>
</div>