<div class="poster">
    <div class="poster__compose">
        <img class="compose__logo" src="./assets/images/logo_poster.png" alt="">
        <img class="compose__logo-movil" src="./assets/images/logo_poster_movil.png" alt="">

        <div class="compose__image-contaier">
            <img class="image-contaier__img" src="./assets/images/img1.jpg" alt="">
            <div class="image-contaier__info">
                <div class="info__text">
                    <h4 class="h4">apuntate</h4>
                    <p class="fs-6">¿Te gusta la cocina?</p>
                </div>
                <button type="button" class="info__btn btn btn-info fs-6">Quiero apuntarme</button>
            </div>
        </div>

        <div class="compose__image-contaier">
            <img class="image-contaier__img" src="./assets/images/img2.jpg" alt="">
            <div class="image-contaier__info">
                <div class="info__text">
                    <h4 class="h4">cuando</h4>
                    <p class="fs-6">Reserva el día</p>
                </div>
                <button type="button" class="info__btn btn btn-info fs-6">Como llegar</button>
            </div>
        </div>

        <div class="compose__image-contaier">
            <img class="image-contaier__img" src="./assets/images/img3.jpg" alt="">
            <div class="image-contaier__info">
                <div class="info__text">
                    <h4 class="h4">categorías</h4>
                    <p class="fs-6">Dulces, salados, cocktails...</p>
                </div>
                <button type="button" class="info__btn btn btn-info fs-6">Más detalles</button>
            </div>
        </div>        
    </div>
</div>












