<main class="flex flex-col items-center">
    <div class="flex flex-col items-center p-2 dinamyc-width grid-cols-cm-blog cm-md:grid cm-md:items-start cm-md:justify-center cm-md:gap-x-4">

        <h1 class="text-cm-title font-medium text-center">Master Cook, elevando la gastronomía a nuevas alturas</h1>

        <article class="cm-md:col-start-1">

            <section class="bg-cm-bg shadow-cm  pb-6">
                <figure class="relative">
                    <img src="./assets/images/concurso_2023.jpeg" alt="Imagen chefs del concurso Cook Master 2023">
                    <figcaption class="text-sm absolute right-1 bottom-1  text-white bg-cm-bg">© Designed by IA - Copilot</figcaption>
                </figure>

                <h2 class="text-cm-title font-medium mt-4 mb-1 pr-3 pl-3">Brillo Culinario en Cook Master</h2>
                <h4 class="text-sm font-medium mb-3 pr-3 pl-3">Sofía López - 15 de diciembre de 2023</h4>

                <p class="pr-3 pl-3 font-semibold text-2xl/9">
                    En una noche repleta de emociones gastronómicas, el escenario del Cook Master brilló con destellos
                    de
                    creatividad, pasión y habilidad culinaria. Celebrado en el majestuoso Centro de Convenciones de la
                    ciudad,
                    este
                    concurso atrajo a los más talentosos chefs amateur y profesionales de la región, quienes compitieron
                    por
                    el
                    codiciado título de "Maestro Culinario".
                </p>
            </section>

            <h2 class="text-cm-subtitle font-medium mt-4 mb-2">La Competencia que Eleva el Arte de Cocinar</h2>

            <p class="mb-4 text-xl">
                El evento comenzó con una ceremonia de apertura llena de anticipación, donde los competidores, nerviosos
                pero
                decididos, fueron presentados ante un público ansioso. Con mandiles blancos y utensilios relucientes, se
                adentraron en sus estaciones de cocina, listos para demostrar su destreza y creatividad ante un panel de
                exigentes jueces.
            </p>

            <p class="mb-4 text-xl">
                La competencia se dividió en varias rondas, cada una desafiando a los participantes con ingredientes
                sorpresa y
                temas culinarios únicos. Desde platos clásicos reinventados hasta creaciones vanguardistas, los
                concursantes
                desplegaron su ingenio en cada preparación, buscando impresionar tanto a los jueces como al exigente
                paladar
                del
                público.
            </p>

            <p class="mb-4 text-xl">
                Pero la verdadera prueba de habilidad llegó con la ronda final, donde los finalistas se enfrentaron en
                un
                desafío de cocina en vivo. Con el reloj en su contra y los ingredientes más exigentes sobre la mesa, los
                chefs
                lucharon con determinación y pasión, demostrando su capacidad para manejar la presión mientras creaban
                obras
                maestras culinarias ante los ojos del mundo.
            </p>

            <h2 class="text-cm-subtitle font-medium mt-4 mb-2">El desenlace</h2>

            <p class="mb-4 text-xl">
                Después de horas de intensa competencia y deliberación, llegó el momento culminante: el anuncio del
                ganador
                del
                Cook Master. Con un suspenso palpable en el aire, el presentador pronunció el nombre del campeón, y los
                aplausos
                resonaron en todo el recinto cuando el chef victorioso fue coronado con el prestigioso título.
            </p>

            <p class="mb-4 text-xl">
                Así concluyó otra emocionante edición del Cook Master, dejando tras de sí un legado de inspiración
                gastronómica
                y el recuerdo de una noche donde el talento culinario reinó supremo.
            </p>

            <section class="bg-cm-bg shadow-cm pb-6">
                <figure class="relative">
                    <img src="./assets/images/niña_cook_master.jpg"
                        alt="Imagen chef más joven del concurso Cook Master 2023">
                    <figcaption class="text-sm absolute right-1 bottom-1  text-white bg-cm-bg">© Designed by Freepik</figcaption>
                </figure>

                <h2 class="text-cm-title font-medium mt-4 mb-1 pr-3 pl-3">María, la concursante más joven de esta edición</h2>
                <h4 class="text-sm font-medium mb-3 pr-3 pl-3">Sofía López - 15 de diciembre de 2023</h4>

                <blockquote class="p-0 m-6 mb-0 ml-[5%] pl-[5%] border-l-2 border-cm-color">

                    <q class="text-xl font-bold leading-8">La cocina es mi pasión y voy a luchar siempre por dedicarme a dar de comer a los demás. Agradezco
                        a
                        Cook
                        Master la oportunidad de darme a conocer al mundo.
                    </q><br>
                    <cite class="mb-0 text-[1rem]">María Sánchez, concursante Cook Master 2023.</cite>

                </blockquote>
            </section>

            <h2 class="text-cm-subtitle font-medium mt-4 mb-2">Lo más destacable</h2>

            <ol class="ml-8 text-xl list-decimal">
                <li>
                    <b>La entrega de los participantes:</b> como cada año, una vez más hemos podido disfrutar de la
                    entrega
                    de
                    todos los participantes. Hemos visto muy bonitas luchas por la continuidad y mucho juego limpio
                    entre
                    todos
                    nuestros participantes.
                </li>
                <li>
                    <b>El concepto inovador:</b> la inteligencia artificial ha llegado para quedarse y en esta pasada
                    edición
                    hemos podidpo disfrutar del primer plato finalista creado con una inteligencia artificial.
                </li>
                <li>
                    <b>Gran participación joven:</b> este año el evento ha batido un record en cuanto a edad de los
                    participantes se refiere. La edad media del concurso se ha situado ligeramente por debajo de los 25
                    años,
                    logrando reunir a las estrellas más jóvenes del mundo de la cocina.
                </li>
                <li>
                    <b>Ilusión por una pasión:</b> el ambiente juvenil se impregnaba de ilusión y disfrute de nuestra
                    pasión.
                    Hemos podido ver como los más jóvenes vienen con muchas ganas de aprender y abrirse paso en un mundo
                    cada
                    vez más complejo.
                </li>
            </ol>

            <h2 class="text-cm-subtitle font-medium mt-4 mb-2">Nos vemos en 2024</h2>

            <p class="mb-4 text-xl">
                Más allá de la gloria y los premios, lo que realmente hizo que el Cook Master brillara fue la pasión
                compartida por la cocina, la camaradería entre los competidores y el arte de crear algo verdaderamente
                delicioso. En este escenario culinario, cada plato era una obra maestra, cada chef un artista y cada
                bocado
                una
                experiencia inolvidable.
            </p>

        </article>


        <article class="relative pt-16 flex flex-col cm-xs:flex-row cm-md:flex-col">

            <h2 class="absolute top-0 text-cm-subtitle font-medium mb-2">Noticias destacadas</h2>

            <section class="bg-cm-bg shadow-cm pb-3 mb-4 cm-xs:mr-3 cm-md:mr-0">
                <figure class="relative cm-xs:pr-0">
                    <img src="./assets/images/cocina_con_amor.jpg" alt="Imagen noticia cocina con amor">
                    <figcaption class="text-sm absolute right-1 bottom-1  text-white bg-cm-bg">© Designed by Freepik</figcaption>
                </figure>

                <div>

                    <h3 class="text-2xl font-medium m-3 hover:text-cm-color"><a href="#section">Cocinando con amor</a></h3>
                    <h4 class="text-sm font-medium pr-3 pl-3">Por Sofía Martín - 25 de diciembre de 2023</h4>
                </div>
            </section>

            <section class="bg-cm-bg shadow-cm pb-3 mb-4 cm-xs:mr-3 cm-md:mr-0">
                <figure class="relative cm-xs:pr-0">
                    <img src="./assets/images/cocina_infantil.jpg" alt="Imagen noticia cocina para niños">
                    <figcaption class="text-sm absolute right-1 bottom-1  text-white bg-cm-bg">© Designed by Freepik</figcaption>
                </figure>

                <div>

                    <h3 class="text-2xl font-medium m-3 hover:text-cm-color"><a href="#section">La cocina y la infancia</a></h3>
                    <h4 class="text-sm font-medium pr-3 pl-3">Por Elena Navarro - 20 de diciembre de 2023</h4>
                </div>
            </section>

            <section class="bg-cm-bg shadow-cm pb-3 mb-4">
                <figure class="relative cm-xs:pr-0">
                    <img src="./assets/images/clases_de_cocina.jpg" alt="Imagen noticia clases de cocina">
                    <figcaption class="text-sm absolute right-1 bottom-1  text-white bg-cm-bg">© Designed by Freepik</figcaption>
                </figure>

                <div>

                    <h3 class="text-2xl font-medium m-3 hover:text-cm-color"><a href="#section">Clases de cocina</a></h3>
                    <h4 class="text-sm font-medium pr-3 pl-3">Por Pedro Jiménez - 15 de diciembre de 2023</h4>
                </div>
            </section>
        </article>
    </div>

</main>