<ol class="m-6 flex flex-row ">
    <li><a class="text-xl" href="./index.html">inicio /</a>&nbsp;</li>
    <li class="text-cm-color text-xl" aria-current="page">chef</li>
</ol>

<main class="w-full pt-14 pb-14 m-0 flex flex-col items-center relative @container">

    <article class="w-full mt-12 mb-12 flex flex-wrap justify-center @xl:max-w-screen-xl">

        <h1 class="text-cm-title top-0 font-medium text-center absolute">Finalistas de Cook Master 2024</h1>

        <section class="cm-card">
            <figure class="w-full relative">
                <img src="./assets/images/chef_1.jpg" alt="Foto del participante chef_1">
                <figcaption class="absolute right-1 bottom-1  text-white bg-cm-bg">© Designed by Freepik</figcaption>
            </figure>
            <div class="text-cm-color p-4 flex flex-col items-center">
                <h5 class="font-bold p-2 text-xl">Carolina Hernandez</h5>
                <p class="p-1 text-lg">Especialidad en marinados.</p>
                <div class="p-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <include src="./views/components/button.html"></include>
            </div>
        </section>

        <section class="cm-card">
            <figure class="w-full relative">
                <img src="./assets/images/chef_2.jpg" alt="Foto del participante chef_2">
                <figcaption class="absolute right-1 bottom-1  text-white bg-cm-bg">© Designed by Freepik</figcaption>
            </figure>
            <div class="text-cm-color p-4 flex flex-col items-center">
                <h5 class="font-bold p-2 text-xl">Juan González</h5>
                <p class="p-1 text-lg">Lo suyo son los postres.</p>
                <div class="p-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <include src="./views/components/button.html"></include>
            </div>
        </section>

        <section class="cm-card">
            <figure class="w-full relative">
                <img src="./assets/images/chef_3.jpg" alt="Foto del participante chef_3">
                <figcaption class="absolute right-1 bottom-1  text-white bg-cm-bg">© Designed by Freepik</figcaption>
            </figure>
            <div class="text-cm-color p-4 flex flex-col items-center">
                <h5 class="font-bold p-2 text-xl">Antonio Delgado</h5>
                <p class="p-1 text-lg">La comida rápida a base de horas.</p>
                <div class="p-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <include src="./views/components/button.html"></include>
            </div>
        </section>

        <section class="cm-card">
            <figure class="w-full relative">
                <img src="./assets/images/chef_4.jpg" alt="Foto del participante chef_4">
                <figcaption class="absolute right-1 bottom-1  text-white bg-cm-bg">© Designed by Freepik</figcaption>
            </figure>
            <div class="text-cm-color p-4 flex flex-col items-center">
                <h5 class="font-bold p-2 text-xl">Enrique Martín</h5>
                <p class="p-1 text-lg">De panadero a estrella de la cocina.</p>
                <div class="p-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <include src="./views/components/button.html"></include>
            </div>
        </section>

        <section class="cm-card">
            <figure class="w-full relative">
                <img src="./assets/images/chef_5.jpg" alt="Foto del participante chef_5">
                <figcaption class="absolute right-1 bottom-1  text-white bg-cm-bg">© Designed by Freepik</figcaption>
            </figure>
            <div class="text-cm-color p-4 flex flex-col items-center">
                <h5 class="font-bold p-2 text-xl">Sofía Blanco</h5>
                <p class="p-1 text-lg">Las verduras son su principal arma.</p>
                <div class="p-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star-half-stroke"></i>
                </div>
                <include src="./views/components/button.html"></include>
            </div>
        </section>

        <section class="cm-card">
            <figure class="w-full relative">
                <img src="./assets/images/chef_6.jpg" alt="Foto del participante chef_6">
                <figcaption class="absolute right-1 bottom-1  text-white bg-cm-bg">© Designed by Freepik</figcaption>
            </figure>
            <div class="text-cm-color p-4 flex flex-col items-center">
                <h5 class="font-bold p-2 text-xl">Carmen López</h5>
                <p class="p-1 text-lg">Entusiasmada y afanada de la pasta.</p>
                <div class="p-3">
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                    <i class="fa-solid fa-star"></i>
                </div>
                <include src="./views/components/button.html"></include>
            </div>
        </section>

    </article>

    <include src="./views/components/paginator.html"></include>

</main>