<footer class="p-16 pb-2 flex flex-col relative bg-cm-color items-center md:p-4 md:flex-row justify-between">

    <div class="mt-12 ml-0 mr-0 mb-12 flex flex-col items-center md:m-0">
        <img class="w-[120px] h-[40px]" src="./assets/images/logo_poster.png" alt="Logotipo del concurso">
        <p class="m-0 text-white text-sm">2023-2024 | Web con fines didácticos y divulgativos</p>
        <p class="m-0 text-white text-sm">Autor | Ángel de Lucas Gil</p>
        <p class="m-0 text-white text-sm">UOC | Máster en Desarrollo de sitios y aplicacions web</p>
    </div>

    <ul class="w-full p-0 m-0 flex flex-row absolute top-6 left-0 justify-center list-none md:top-[inherit] md:left-0">
        <li class="mr-6 md:mt-0 md:ml-6 hover:text-shadow hover:opacity-70"><a href="./index.html" class="text-2xl text-white cursor-pointer no-underline">inicio</a></li>
        <li class="mr-6 md:mt-0 md:ml-6 hover:text-shadow hover:opacity-70"><a href="./chefs.html" class="text-2xl text-white cursor-pointer no-underline">chefs</a></li>
        <li class="mr-6 md:mt-0 md:ml-6 hover:text-shadow hover:opacity-70"><a href="./IA_modificada.html" class="text-2xl text-white cursor-pointer no-underline">IA Modificada</a></li>
    </ul>

    <div>
        <ul class="w-full p-0 mt-2 flex flex-row list-none justify-center">
            <li class="m-1 hover:opacity-70"><a href="#footer" class="text-white text-sm"><i class="p-1 fa-brands fa-facebook fa-2xl"></i></a></li>
            <li class="m-1 hover:opacity-70"><a href="#footer" class="text-white text-sm"><i class="p-1 fa-brands fa-twitter fa-2xl"></i></a></li>
            <li class="m-1 hover:opacity-70"><a href="#footer" class="text-white text-sm"><i class="p-1 fa-brands fa-instagram fa-2xl"></i></a></li>
        </ul>

        <ul class="w-full p-0 mt-2 flex flex-row list-none justify-center">
            <li class="hover:opacity-70"><a href="./aviso_legal.html" class="text-white text-sm">Aviso legal</a></li>
        </ul>
    </div>

</footer>