<header class="h-auto content-between shadow-cm p-4 md:h-auto md:p-0">

    <nav class="flex w-full items-center justify-between">
        <a class="invisible absolute md:visible md:relative md:p-4" href="./index.html">
            <img src="./assets/images/logo.png?width=160" alt="Logotipo del concurso">
        </a>

        <a class="visible absolute h-fit top-3 left-3 md:invisible md:absolute" href="./index.html">
            <img src="./assets/images/logo_movil.png?width=110" alt="Logotipo del concurso">
        </a>

        <ul class="invisible absolute flex-row items-center md:visible md:relative md:h-fit flex list-none">
            <li class="options__elto m-8"><a href="./chefs.html" class="cursor-pointer text-2xl text-cm-text-color hover:text-shadow-cm">chefs</a></li>
            <li class="options__elto m-8"><a href="./IA_modificada.html" class="cursor-pointer text-2xl text-cm-text-color hover:text-shadow-cm">IA Modificada</a></li>
        </ul>

        <div class="w-full flex flex-col items-end p-3 show-menu md:invisible md:absolute md:inset-0">

            <input class="invisible absolute rounded" type="checkbox" value="" id="flexCheckDefault">
            <label class="inline-block cursor-pointer text-2xl text-cm-text-color hover:text-shadow-cm" for="flexCheckDefault">menu</label>

            <ul class="invisible absolute show p-6 md:invisible md:absolute md:inset-0">
                <li class="options__elto"><a href="./chefs.html" class="cursor-pointer text-2xl text-cm-text-color hover:text-shadow-cm">chefs</a></li>
                <li class="options__elto"><a href="./IA_modificada.html" class="cursor-pointer text-2xl text-cm-text-color hover:text-shadow-cm">IA Modificada</a></li>
            </ul>
        </div>
    </nav>

</header>