.input {

    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1%;
    container-type: inline-size;

    &__intro {
        padding-bottom: 2%;
        background-color: $corporative-secondary-bacground;
        box-shadow: 0 0 40px color(display-p3 0.91 0.91 0.91);
    }

    >* {
        @include width($cook-master-breakpoints);
    }
}

:where(figure) {
    position: relative;

    :is(img) {
        width: 100%;
    }

    :is(figcaption) {
        @include author();
    }

    ~:is(p) {
        font-weight: bold;
    }

    ~* {
        padding: 0% 2%;
    }
}

:is(h2) {
    margin: 3% 0 1% 0;
}

:is(h4) {
    font-size: small;
}

.input__intro:has(blockquote) {

    >blockquote {
        @include blockquote-format();
    }
}