* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html {
  /* stylelint-disable */
  font-size: calc-font-size();
  /* stylelint-enable */
}

:where(p, li) {
  font-size: 1.2rem;
}

:is(figure) {
  position: relative;

  :is(img) {
    width: 100%;
  }

  :is(figcaption) {
    @include author();
  }

  ~:is(p) {
    font-weight: bold;
    font-size: 1.4rem;
  }

  ~* {
    padding: 0% 2%;
  }
}

:is(h1) {
  font-size: $title-font-size;
}

:is(h2) {
  margin: 3% 0 1%;
}

:is(h4) {
  font-size: small;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
  background: $corporative-background;
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
}