* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

html{
  font-size: calc-font-size(); 
}

:where(p, li) {
  font-size: 1.2rem;
}

:is(figure) {
    position: relative;

    :is(img) {
        width: 100%;
    }

    :is(figcaption) {
        @include author();
    }

    ~:is(p) {
        font-weight: bold;
        font-size: 1.4rem;
    }

    ~* {
        padding: 0% 2%;
    }
}

:is(h1) {
    font-size: $title-font-size;
}

:is(h2) {
    margin: 3% 0 1% 0;
}

:is(h4) {
    font-size: small;
}