.poster {
    margin: 3% 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    container-type: inline-size;

    &__compose {
        width: 97%;
        height: 433px;
        padding: 1%;
        display: flex;
        flex-direction: row;
        position: relative;
        justify-content: center;
        box-shadow: 0 0 40px color(display-p3 0.91 0.91 0.91);
        background-image: url("../images/background_poster.jpg");

        .compose {
            &__logo {
                @include hide();
                width: 0;
                height: 0;
                top: -100%;
                overflow: hidden;
            }

            &__logo-movil {
                @include hide();
                width: 0;
                height: 0;
                top: -100%
            }

            &__image-contaier {
                width: 33.34%;
                height: 70%;
                display: flex;
                flex-direction: column;
                position: relative;
                overflow: hidden;
                transition: all 1500ms ease-in-out;

                .image-contaier {
                    &__img {
                        height: 100%;
                        margin: 1%;
                        overflow: hidden;
                    }

                    &__info {
                        width: 100%;
                        padding: 5%;
                        display: flex;
                        flex-direction: column;
                        position: absolute;
                        bottom: 0%;
                        color: $contrast-color;
                        justify-content: flex-end;

                        .info {
                            &__text {
                                height: 80%;
                            }

                            &__btn {
                                @include cook-btn();
                                width: 100%;
                            }
                        }
                    }
                }
            }

            &__description {
                width: 100%;
                padding: 3%;
                position: absolute;
                top: 75%;
            }
        }
    }

    &__presentation {

        width: 97%;
        margin-top: 2%;
        background-color: $copyright-secondary-bacground;
        box-shadow: 0 0 40px color(display-p3 0.91 0.91 0.91);

        .presentation {

            &__article {

                .article {

                    &__photo {
                        position: relative;
                        margin: 0;

                        .photo {

                            &__img {
                                min-height: 350px;
                            }

                            &__author {
                                @include author();
                            }
                        }
                    }

                    &__text {

                        padding: 1%;

                        >p {
                            font-size: 2vh;
                        }

                        .text {

                            &__cite {
                                @include blockquote-format();
                            }
                        }
                    }
                }
            }
        }

    }
}


// @media(min-width: 768px) {
@container (min-width: 768px) {
    .poster {
        &__compose {
            width: 90%;

            .compose {
                &__image-contaier {
                    height: 100%;
                }

                &__description {
                    position: inherit;
                    top: 10%;
                }
            }
        }

        &__presentation {

            width: 100%;

            .presentation {

                &__article {
                    display: flex;
                    flex-direction: row;

                    .article {

                        &__text {
                            display: flex;
                            align-items: center;
                            position: relative;

                            .text {

                                &__title {
                                    position: absolute;
                                    top: -3%;
                                }
                            }
                        }
                    }

                }
            }
        }
    }

}

// @media(min-width: 992px) {
@container (min-width: 992px) {
    .poster {

        &__presentation {

            width: 60%;
        }
    }
}


@supports (display:grid) {
    .poster {
        &__compose {
            width: 97%;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 20% 50% 30%;

            :nth-child(3) {
                grid-column: 1;
            }

            :nth-child(4) {
                grid-column: 2;
            }

            :nth-child(5) {
                grid-column: 3;
            }

            .compose {
                &__logo {
                    @include hide();
                    top: -100%;
                }

                &__logo-movil {
                    @include show();
                    width: 100%;
                    height: 100%;
                    top: inherit;
                    grid-row: 1;
                    grid-column-start: 1;
                    grid-column-end: 4;
                }

                &__image-contaier {
                    width: 100%;
                    height: 100%;
                }

                &__description {
                    height: 100%;
                    padding: 2%;
                    position: inherit;
                    top: inherit;
                    grid-row: 3;
                    grid-column-start: 1;
                    grid-column-end: 4;


                    >p {
                        font-size: 2vh;
                    }
                }
            }
        }
    }

    // @media(min-width: 768px) {
    @container (min-width: 768px) {
        .poster {
            &__compose {
                width: 100%;
                height: 50lvh;
                max-width: inherit;
                grid-template-columns: repeat(5, 1fr);
                grid-template-rows: repeat(3, 1fr);
                column-gap: 2%;
                row-gap: 3%;
                padding: 0;
                position: inherit;

                .compose {
                    &__logo {
                        @include show();
                        grid-row: 2;
                        grid-column-start: 2;
                        grid-column-end: 5;
                        width: 100%;
                        height: 100%;
                    }

                    &__logo-movil {
                        @include hide();
                        top: -100%;
                        grid-row: inherit;
                        grid-column-start: inherit;
                        grid-column-end: inherit;
                    }

                    &__image-contaier {
                        height: 100%;
                        margin: 0;
                        transition: all 1500ms ease-in-out;

                        &:hover>.image-contaier__info {
                            @include show();
                            position: absolute;
                            opacity: 1;
                            scale: 1.1;
                            background-color: $corporative-color-hover;
                        }

                        .image-contaier {
                            &__img {
                                height: auto;
                                overflow: initial;
                                z-index: 100;
                                transition: all 1500ms ease-in-out;
                                margin: 0;
                            }

                            &__info {
                                @include hide();
                                height: 100%;
                                padding: 10%;
                                display: flex;
                                flex-direction: column;
                                bottom: 0%;
                                color: $contrast-color;
                                transition: all 1500ms ease-in-out;
                                justify-content: center;
                            }

                            &__btn {
                                @include cook-btn();
                            }
                        }
                    }

                    &__description {
                        grid-row: 3;
                        grid-column-start: 2;
                        grid-column-end: 4;
                        width: 100%;
                    }
                }

                :nth-child(3) {
                    grid-column: 1;
                    grid-row-start: 1;
                    grid-row-end: 3;

                    :is(.image-contaier__img) {
                        height: 100%;
                    }

                    &:hover>.image-contaier__img {
                        // rotate: 90deg;
                        translate: 250%;
                    }
                }

                :nth-child(4) {
                    grid-row: 1;
                    grid-column-start: 3;
                    grid-column-end: 5;

                    &:hover>.image-contaier__img {
                        translate: 0 100%;
                    }
                }

                :nth-child(5) {
                    grid-row: 3;
                    grid-column-start: 4;
                    grid-column-end: 6;

                    &:hover>.image-contaier__img {
                        translate: -100% -100%;
                    }
                }

            }
        }
    }

    // @media(min-width: 992px) {
    @container (min-width: 992px) {
        .poster {
            &__compose {
                width: 60%;
                height: 65lvh;
            }
        }

    }
}

.poster__compose:has(.compose__image-contaier:hover)>.compose__image-contaier:not(:hover) {
    opacity: 0.5;
    scale: 0.9;
    filter: grayscale(80%);
}