<footer class="footer">

    <div class="footer__copyright">
        <img class="copyright__logo" src="./assets/images/logo_mondeajr.png" alt="Logotipo de la empresa">
        <p class="copyright__author">2023-2024 | Ángel de Lucas Gil</p>
    </div>

    <div class="footer__links">
        <ul class="links__social-menu">
            <li class="social-menu__elto"><a href="#footer" class="footer__link"><img src="./assets/images/twitter.svg" alt="Icono enlace a Twitter"></a></li>
            <li class="social-menu__elto"><a href="#footer" class="footer__link"><img src="./assets/images/instagram.svg" alt="Icono enlace a Instagram"></a></li>
            <li class="social-menu__elto"><a href="#footer" class="footer__link"><img src="./assets/images/youtube.svg" alt="Icono enlace a Youtube"></a></li>
        </ul>

        <ul class="links__legal-menu">
            <li class="legal-menu__elto"><a href="#footer" class="footer__link">Política de privacidad</a></li>
            <li class="legal-menu__elto"><a href="#footer" class="footer__link">Política de <i>cookies</i></a></li>
            <li class="legal-menu__elto"><a href="./views/copyright-links.html" class="footer__link">Aviso legal</a></li>
        </ul>
    </div>

</footer>