<input type="checkbox" class="checbox" id="checkbox">
<!-- <label for="checkbox" class="submenu-button__checbox-label"></label> -->
<header class="header">


    <div class="header__frame">
        <img class="frame__img" src="./assets/images/puente_noche.jpeg" alt="">
        <img class="frame__img" src="./assets/images/puente_dia_1.jpg" alt="">
        <img class="frame__img" src="./assets/images/puente_dia.jpeg" alt="">
        <img class="frame__img" src="./assets/images/header_1.png" alt="">
        <img class="frame__img" src="./assets/images/puente_dia_2.jpeg" alt="">
        <img class="frame__img" src="./assets/images/Puente_Viaducto_Mondejar.jpg" alt="">
    </div>
    
    
    <div class="header__submenu-button">
        <label for="checkbox" class="submenu-button__checbox-label"></label>
        
        <nav class="submenu-button__nav-bars">
            <ul class="nav-bars__submenu">
                <li class="submenu__elto"><a href="#" class="elto__internal-link">ayuntamiento</a></li>
                <li class="submenu__elto"><a href="#" class="elto__internal-link">turismo</a></li>
                <li class="submenu__elto"><a href="#" class="elto__internal-link">municipio</a></li>
                <li class="submenu__elto"><a href="#" class="elto__internal-link">fotos</a></li>
                <li class="submenu__elto"><a href="#" class="elto__internal-link">vídeos</a></li>
                <li class="submenu__elto"><a href="#" class="elto__internal-link">blog</a></li>
            </ul>
        </nav>
    </div>

</header>