<div class="icon-list">
    <ul class="icon-list__links">
        <li class="links__elto">
            <a class="elto__icon-link" href="#hoteles">
                <i class="fa-solid fa-bed fa-2xl"></i>
                <p class="elto__leyend">Hoteles</p>
            </a>
        </li>
        <li class="links__elto">
            <a class="elto__icon-link" href="#restaurantes">
                <i class="fa-sharp fa-solid fa-utensils fa-2xl"></i>
                <p class="elto__leyend">Restaurantes</p>
            </a>
        </li>
        <li class="links__elto">
            <a class="elto__icon-link" href="#policia">
                <i class="fa-solid fa-person-military-rifle fa-2xl"></i>
                <p class="elto__leyend">Policía</p>
            </a>
        </li>
        <li class="links__elto">
            <a class="elto__icon-link" href="#centro_medico">
                <i class="fa-solid fa-user-nurse fa-2xl"></i>
                <p class="elto__leyend">Médico</p>
            </a>
        </li>
    </ul>
</div>