<article class="main">

    <h2 class="main__title">Descubre Mondéjar</h2>

    <div class="main__col">

        <div class="main__input">

            <div class="input__article-header">
                <figure>
                    <img class="article-header__image" src="./assets/images/Plaza_Mondejar_Guadalajara.jpg"
                        alt="Imagen plaza Mayor de la Villa">
                </figure>

                <h1 class="article-header__title">Mondéjar, cuna del Renacimiento</h1>
                <h4 class="article-header__subtitle">Por Daniel López - 30 de diciembre de 2023 -
                    <a class="subtitle__link" href="#township"><i class="fa-solid fa-mountain-city"></i> - Municipio</a>
                </h4>

                <div class="article-header__headlines">

                    <input type="checkbox" class="headlines__checkbox" id="checkbox-articule-first">
                    <label for="checkbox-articule-first" class="headlines__checkbox-label"></label>

                    <div class="headlines__headline">
                        <div class="headline__notice-container">

                            <div class="headline__notice">
                                <img class="notice__img" src="./assets/images/frontal_convento.png" alt="">
                                <h4 class="notice__subtitle">Conoce la historia del Convento de San Antonio visitando
                                    sus rehabilitadas ruinas.
                                    <br>
                                    <a class="subtitle__link" href="#hisotry"><i class="fa-solid fa-church"></i></a> -
                                    <a class="subtitle__link" href="#convento_san_antonio"> Convento San Antonio</a>
                                </h4>
                            </div>

                            <div class="headline__notice">
                                <img class="notice__img" src="./assets/images/retablo.png" alt="">
                                <h4 class="notice__subtitle">Visita el majestuoso retablo réplica del original debastado
                                    por
                                    las llamas durante la guerra civil.
                                    <br>
                                    <a class="subtitle__link" href="#hisotry"><i class="fa-solid fa-church"></i></a> -
                                    <a class="subtitle__link" href="#iglesia_maria_magdalena"> Iglesia</a>
                                </h4>
                            </div>

                            <div class="headline__notice">
                                <img class="notice__img" src="./assets/images/lavadero.jpeg" alt="">
                                <h4 class="notice__subtitle">El antiguo lavadero era el punto de encuentro siglos atrás.
                                    Hoy
                                    restaurado para uso y disfrute de los vecinos.
                                    <br>
                                    <a class="subtitle__link" href="#township"><i class="fa-solid fa-mountain-city"></i></a>
                                    -
                                    <a class="subtitle__link" href="#el_lavadero"> Lavadero</a>
                                </h4>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

            <p class="input__article-body">
                Seas quien fueres y vengas de donde vinieres, sé bienvenido a Mondéjar. Esta localidad monumental,
                ubicada
                entre
                los valles del Tajo y el Tajuña,
                quizás no esté todo lo reconocida que debiera.
                Son palabras mayores.
                Su
                impresionante conjunto arquitectónico está relacionado con una familia que adquirió en propiedad la
                villa
                allá
                por el siglo XV: los Mendoza. Su marquesado trajo consigo nuevas líneas de pensamiento y corrientes
                artísticas
                que se plasmaron en un patrimonio de los más interesantes en la Alcarria. Prepárate porque Mondéjar no
                deja
                indiferente a nadie.
            </p>

        </div>

        <div class="main__input">


            <div class="input__article-header">
                <figure>
                    <img class="article-header__image" src="./assets/images/composicion_3.png"
                        alt="Composición elementos culturares">
                </figure>


                <h1 class="article-header__title">Nuestros productos y la Alcarria</h1>
                <h4 class="article-header__subtitle">Por Daniel López - 30 de diciembre de 2023 -
                    <a class="subtitle__link" href="#our_products"><i class="fa-solid fa-wine-bottle"></i> - Productos
                        Típicos</a>
                </h4>

                <div class="article-header__headlines">

                    <input type="checkbox" class="headlines__checkbox" id="checkbox-articule-fourt">
                    <label for="checkbox-articule-fourt" class="headlines__checkbox-label"></label>

                    <div class="headlines__headline">
                        <div class="headline__notice-container">

                            <div class="headline__notice">
                                <img class="notice__img" src="./assets/images/DO_Mondejar_1.png" alt="">
                                <h4 class="notice__subtitle">Nuestro producto más típico y famoso, el vino de Mondéjar.
                                    <br>
                                    <a class="subtitle__link" href="#our_products"><i
                                            class="fa-solid fa-landmark"></i></a>
                                    -
                                    <a class="subtitle__link" href="#wine"> El vino</a>
                                </h4>
                            </div>

                            <div class="headline__notice">
                                <img class="notice__img" src="./assets/images/colmenar.png" alt="">
                                <h4 class="notice__subtitle">La famosa miel de la Alcarria es considerada como una de
                                    las
                                    mejores del mundo.
                                    <br>
                                    <a class="subtitle__link" href="#our_products"><i
                                            class="fa-solid fa-landmark"></i></a>
                                    -
                                    <a class="subtitle__link" href="#honey"> La miel</a>
                                </h4>
                            </div>

                            <div class="headline__notice">
                                <img class="notice__img" src="./assets/images/tipos-aceite.jpg" alt="">
                                <h4 class="notice__subtitle">Típicos de Mondéjar son nuestros aceites de oliva y sus
                                    derivados.
                                    <br>
                                    <a class="subtitle__link" href="#our_products"><i
                                            class="fa-solid fa-landmark"></i></a>
                                    -
                                    <a class="subtitle__link" href="#olive_oil"> El aceite</a>
                                </h4>
                            </div>


                        </div>
                    </div>
                </div>

            </div>

            <div class="input__article-body">
                <p>La Alcarria es una comarca natural castellana situada en la submeseta Sur, que comprende la mayor
                    parte
                    del
                    centro y sur de la provincia de Guadalajara, el noroeste de la provincia de Cuenca y el sureste de
                    la
                    provincia
                    de Madrid, pudiendo considerarse alcarreños también algunos municipios de la comarca de Tarancón
                    (Cuenca) y
                    de
                    la mesa de Ocaña (Toledo). Es una comarca transitoria entre las serranías del sistema Ibérico y la
                    llanura
                    de la
                    Mancha.

                <blockquote class="article-body__cite">
                    <p class="cite__phrase">
                        «Pasa el Tajo por Zorita, como un sultán. El campo es una señorita que brinda el pan [...] Por
                        la
                        plaza
                        de
                        la Hora, se pone el sol. Enlutada, una señora vela al Señor»
                    </p>
                    <cite class="cite__author">Camilo José Cela, Viaje a la Alcarria</cite>
                </blockquote>

            </div>

        </div>
        
    </div>

    <div class="main__col">
        

        <div class="main__input">


            <div class="input__article-header">
                <figure>
                    <img class="article-header__image" src="./assets/images/composicion_2.png"
                        alt="Composición elementos culturares">
                </figure>

                <h1 class="article-header__title">¿Te gusta la naturaleza?</h1>
                <h4 class="article-header__subtitle">Por Daniel López - 30 de diciembre de 2023 -
                    <a class="subtitle__link" href="#nature"><i class="fa-solid fa-mountain"></i> - Naturaleza</a>
                </h4>

                <div class="article-header__headlines">

                    <input type="checkbox" class="headlines__checkbox" id="checkbox-articule-second">
                    <label for="checkbox-articule-second" class="headlines__checkbox-label"></label>

                    <div class="headlines__headline">
                        <div class="headline__notice-container">

                            <div class="headline__notice">
                                <img class="notice__img" src="./assets/images/rutas_guiadas.jpeg" alt="">
                                <h4 class="notice__subtitle">Si te gusta disfrutar de la naturaleza tenemos rutas
                                    guiadas y
                                    señalizadas por el entorno del municipio.
                                    <br>
                                    <a class="subtitle__link" href="#guidance_paths"><i
                                            class="fa-solid fa-person-hiking"></i></a> -
                                    <a class="subtitle__link" href="#guidance_paths"> Rutas guiadas</a>
                                </h4>
                            </div>

                            <div class="headline__notice">
                                <img class="notice__img" src="./assets/images/ViaVerdeTajuna.jpg" alt="">
                                <h4 class="notice__subtitle">Tenemos servicio de alquiler de bicicletas para disfrutar
                                    nuestra vía verde y su historia.
                                    <br>
                                    <a class="subtitle__link" href="#biking"><i
                                            class="fa-solid fa-person-biking"></i></a> -
                                    <a class="subtitle__link" href="#biking"> La vía verde</a>
                                </h4>
                            </div>

                            <div class="headline__notice">
                                <img class="notice__img" src="./assets/images/rio_tajuna.jpg" alt="">
                                <h4 class="notice__subtitle">Puedes disfrutar de actividades acuáticas en la rivera del
                                    río
                                    Tajuña.
                                    <br>
                                    <a class="subtitle__link" href="#nature"><i class="fa-solid fa-mountain"></i></a> -
                                    <a class="subtitle__link" href="#our_river"> Río Tajuña</a>
                                </h4>
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class="input__article-body">
                <ul class="article-body__list">
                    <li class="list__elto">
                        <b>Vía Verde Mondéjar Entrepeñas:</b> La Vía Verde, ocupada por el antiguo trazado del
                        ferrocarril,
                        hoy
                        en desuso, comunicará Mondéjar con Madrid y el Embalse de Entrepeñas, prolongando la actual Vía
                        Verde
                        del Tajuña.
                    </li>
                    <li class="list__elto">
                        <b>Mondéjar-Pastrana:</b> Desde el otero de la ermita de San Sebastián, los aficionados al
                        senderismo,
                        cicloturismo o la equitación pueden emprender una de las rutas más bellas: el Camino que de
                        Mondéjar
                        conduce a Pastrana, a los pies del cerro.
                    </li>
                    <li class="list__elto">
                        <b>Carazo, La Espartosa y “Peña Ambite”:</b> Próximos a la Vía Verde del Tajuña, en su tramo de
                        Mondéjar
                        a Ambite, se encuentran los parajes de Carazo y la Espartosa, con la “Peña Ambite”, de
                        impresionantes
                        panorámicas.
                    </li>
                    <li class="list__elto">
                        <b>Nacimientos de Agua:</b> Fuente de Marimingo, con aguas a las que se les adjudican
                        propiedades
                        curativas para el riñón, y el antiguo despoblado de Fuentespino, con tranquila chopera y un
                        camino
                        apto
                        para el cicloturismo.
                    </li>
                </ul>
            </div>

        </div>

        <div class="main__input">



            <div class="input__article-header">
                <figure>
                    <img class="article-header__image" src="./assets/images/cultura_tradicion.png"
                        alt="Composición elementos culturares">
                </figure>


                <h1 class="article-header__title">Cultura y Tradición</h1>
                <h4 class="article-header__subtitle">Por Daniel López - 30 de diciembre de 2023 -
                    <a class="subtitle__link" href="#culture"><i class="fa-solid fa-landmark"></i> - Cultura</a>
                </h4>

                <div class="article-header__headlines">

                    <input type="checkbox" class="headlines__checkbox" id="checkbox-articule-third">
                    <label for="checkbox-articule-third" class="headlines__checkbox-label"></label>

                    <div class="headlines__headline">
                        <div class="headline__notice-container">

                            <div class="headline__notice">
                                <img class="notice__img" src="./assets/images/cristo.jpeg" alt="">
                                <h4 class="notice__subtitle">Procesión Santísimo Cristo del Calvario: el día 13 de
                                    Septiembre
                                    es, sin duda, el día más
                                    esperado
                                    por
                                    los móndejanos y mondejanas.
                                    <br>
                                    <a class="subtitle__link" href="#culture"><i class="fa-solid fa-landmark"></i></a> -
                                    <a class="subtitle__link" href="#procesion_del_cristo"> Procesión del Cristo</a>
                                </h4>
                            </div>

                            <div class="headline__notice">
                                <img class="notice__img" src="./assets/images/museo_parroquial.jpg" alt="">
                                <h4 class="notice__subtitle">Vistita nuestro museo parroquial mendocino.
                                    <br>
                                    <a class="subtitle__link" href="#culture"><i class="fa-solid fa-landmark"></i></a> -
                                    <a class="subtitle__link" href="#museo_parroquial"> Museo parroquial</a>
                                </h4>
                            </div>

                            <div class="headline__notice">
                                <img class="notice__img" src="./assets/images/toro_polvora.png" alt="">
                                <h4 class="notice__subtitle">Nuestras fiestas y sus correpiés: tras la procesión tiene
                                    lugar
                                    la
                                    tradicional quema de toros de polvora y los correpiés.
                                    <br>
                                    <a class="subtitle__link" href="#culture"><i class="fa-solid fa-landmark"></i></a> -
                                    <a class="subtitle__link" href="#correpies"> Los Correpiés</a>
                                </h4>
                            </div>

                        </div>
                    </div>
                </div>
            </div>

            <p class="input__article-body">
                La procesión del Cristo y Tirada de Correpiés de Mondéjar ya son de Interés Turístico Regional.
            </p>

        </div>
    </div>

</article>