<section class="recents-articles">

    <h2 class="recents-articles__title">Últimas Novedades</h2>

    <article class="recents-articles__article">
        <figure class="article__img-container">
            <img class="img-container__img" src="./assets/images/los_judios.jpeg"
                alt="Imagen sobre desintoxicación digital">
        </figure>
        <a class="article__category-link" href="#figure">Cultura</a>

        <div class="article__header">
            <h3 class="header__title"><a class="title__blog-link" href="#section">Visita guidada Los Judíos</a></h3>
            <h4 class="header__subtitle">Desde el pasado mes de Febrero ya se puede realizar la visita guiada a la cueva
                de los Judíos. Para más información vistia esta sección.</h4>
        </div>
    </article>

    <article class="recents-articles__article">
        <figure class="article__img-container">
            <img class="img-container__img" src="./assets/images/el_espinar.jpeg"
                alt="Imagen sobre conexión entre mente y cuerpo">
        </figure>
        <a class="article__category-link" href="#figure">Municipio</a>

        <div class="article__header">
            <h3 class="header__title"><a class="title__blog-link" href="#section">Nueva oficina de turismo</a>
            </h3>
            <h4 class="header__subtitle">El próximo día 10 de Abril quedará
                habilitada la nueva oficina de turismo ubicada en el antiguo lavadero El Espinar</h4>
        </div>
    </article>

    <article class="recents-articles__article">
        <figure class="article__img-container">
            <img class="img-container__img" src="./assets/images/teatro_convento.jpg"
                alt="Imagen sobre alimentos que combaten el estrés">
        </figure>
        <a class="article__category-link" href="#figure">Cultura</a>

        <div class="article__header">
            <h3 class="header__title"><a class="title__blog-link" href="#section">Calendario Teatral</a>
            </h3>
            <h4 class="header__subtitle">Consulta el calendario de actuaciones teatrales que tendrán lugar tanto en el
                espacio de actuaciones del Convento de San Antonio como en en el centro culturarl.</h4>
        </div>
    </article>

    <!-- <section class="recents-articles__categories-list">

        <h3 class="categories-list__title">Categorías Populares</h3>

        <ul class="categories-list__categories">
            <li class="categories__elto">Ayuntamiento</li>
            <li class="categories__elto">Cultura</li>
            <li class="categories__elto">Turismo</li>
            <li class="categories__elto">Municipio</li>
        </ul>
    </section> -->
</section>