<div class="sites-container">

    <h2 class="sites-container__title">Lo que no te puedes perder</h2>

    <div class="site">
        <figure class="site__figure">
            <img class="site__image" src="./assets/images/visitar_plaza.jpg" alt="Imagen plaza Mayor de la Villa">
        </figure>

        <div class="site__description">
            <h4 class="description__title">plaza mayor</h4>
            <p class="description__text">
                La Plaza Mayor es el corazón de la localidad. Aquí, la vida se detiene y permite a los
                visitantes
                disfrutar del ambiente relajado de la ciudad. Alrededor de la misma se encuentra el Ayuntamiento y la
                Iglesia.
            </p>
        </div>
    </div>

    <div class="site">
        <figure class="site__figure">
            <img class="site__image" src="./assets/images/Ermita_cristo.jpeg" alt="Imagen ermita del Cristo">
        </figure>

        <div class="site__description">
            <h4 class="description__title">ermita del cristo</h4>
            <p class="description__text">
                Es un pequeño templo católico situado a las afueras de la localidad.
                Se sitúa en un pequeño cerro al noreste del casco urbano. En su interior se encuentra la cueva de los
                Judíos.
            </p>
        </div>
    </div>

    <div class="site">
        <figure class="site__figure">
            <img class="site__image" src="./assets/images/visitar_judios.png" alt="Imagen cueva de los judios">
        </figure>

        <div class="site__description">
            <h4 class="description__title">los judios</h4>
            <p class="description__text">
                Es una cavidad única en toda Europa. En su interior, se encuentran 12 escenas que representan la Pasión
                de Cristo, con figuras de tamaño real realizadas en yeso
                del siglo XVI.
            </p>
        </div>
    </div>

    <div class="site">
        <figure class="site__figure">
            <img class="site__image" src="./assets/images/visitar_convento.png" alt="Imagen Convento San Antonio">
        </figure>

        <div class="site__description">
            <h4 class="description__title">Convento San Antonio</h4>
            <p class="description__text">
                El complejo, actualmente restaurado, contiene un el convento franciscano propiamente dicho además de una
                iglesia.
            </p>
        </div>
    </div>

    <div class="site">
        <figure class="site__figure">
            <img class="site__image" src="./assets/images/visitar_iglesia.jpeg" alt="Imagen Santa María Magdalena">
        </figure>

        <div class="site__description">
            <h4 class="description__title">iglesia</h4>
            <p class="description__text">
                La iglesia está dedicada a la advocación de Santa María Magdalena; de aspecto gótico y tendencia
                renacentista, fue construida en la primera mitad del siglo XVI por encargo del primer marqués de
                Mondéjar.
            </p>
        </div>
    </div>

    <div class="site">
        <figure class="site__figure">
            <img class="site__image" src="./assets/images/visitar_san_pedro.png" alt="Imagen Ermita de San Pedro">
        </figure>

        <div class="site__description">
            <h4 class="description__title">ermita san pedro</h4>
            <p class="description__text">
                Su construcción data de entorno al siglo XVI y se cree que fue don Juan Ibañez de Segovia quién ordenó
                levantar la ermita, en honor a San Pedro, patrón de los pastores.
            </p>
        </div>
    </div>

    <div class="site">
        <figure class="site__figure">
            <img class="site__image" src="./assets/images/visitar_Plaza_Toros_Mondejar.jpg" alt="Imagen plaza de toros">
        </figure>

        <div class="site__description">
            <h4 class="description__title">plaza de toros</h4>
            <p class="description__text">
                La plaza de toros de la localidad fue construida en 1915 aprovechando las piedras talladas de las ruinas
                del Convento de San Antonio.
            </p>
        </div>
    </div>

    <div class="site">
        <figure class="site__figure">
            <img class="site__image" src="./assets/images/visitar_Puente_Viaducto_Mondejar.jpg"
                alt="Imagen puente viaducto">
        </figure>

        <div class="site__description">
            <h4 class="description__title">puente viaducto</h4>
            <p class="description__text">
                La infraestructura fue construida originalmente como parte del inacabado ferrocarril del Tajuña, si bien
                en la actualidad forma parte del trazado de la Vía verde del Tajuña II.
            </p>
        </div>
    </div>

</div>