<nav class="menu">
    <ul class="menu__list-options">
        <li class="list-options__elto"><a href="#" class="elto__internal-link--large">ayuntamiento</a></li>
        <li class="list-options__elto"><a href="#" class="elto__internal-link--large">turismo</a></li>
        <li class="list-options__elto"><a href="#" class="elto__internal-link--large">municipio</a></li>
        <li class="list-options__elto"><a href="#" class="elto__internal-link--large">fotos</a></li>
        <li class="list-options__elto"><a href="#" class="elto__internal-link--large">vídeos</a></li>
        <li class="list-options__elto"><a href="#" class="elto__internal-link--large">blog</a></li>
    </ul>
</nav>