@use "sass:color";

// Variables globales
$corporative-color: rgb(172, 33, 54);
$corporative-color-hover: hwb(351 13% 33% / 0.8);
$contrast-color: hwb(0 100% 0%);
$hover-background-color: hwb(349 85% 0%);
$disabled-corporative-color: hwb(0 53% 47%);
$copyright-bacground: hwb(0 45% 19% / 0.3);
$copyright-secondary-bacground: hwb(0 66% 19% / 0.3);


@mixin font-menu {
  font-size: 1.5rem;
  color: color(display-p3 0.25 0.24 0.24);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    @include hover-text();
  }

}

@mixin hover-text {
  text-shadow: 0 5px 10px color(display-p3 0.71 0.71 0.71);
}

@mixin hide {
  visibility: hidden;
  position: absolute;
}

@mixin show {
  visibility: visible;
  position: inherit;
}

@mixin author {
  position: absolute;
  right: 1%;
  bottom: 1%;
  background-color: $copyright-bacground;
  color: $contrast-color;
}

@mixin blockquote-format {
  border-left: 2px solid $corporative-color;
  margin: 3% 3% 0% 5%;
  padding-left: 5%;

  >q {            
      font-size: 2.5vh;
      font-weight: bold;
  }

  >cite{
      font-size: 1.9vh;
  }
}

// modificación shadow bs
$box-shadow-sm: 0 .125rem 8rem hwb(0 0% 100% / 0.075);

//Personalización de componente bootstrap - card
$enable-shadows: "true";
$card-color: $corporative-color;
$card-bg: $copyright-secondary-bacground;
$card-title-color: $corporative-color;
$card-border-radius: none;
$card-box-shadow: 0 .125rem 8rem hwb(0 0% 100% / 0.5);

//Personalización de componente bootstrap - breadcrumb
$breadcrumb-padding-y: 1%;
$breadcrumb-padding-x: 1%;
$breadcrumb-active-color: $corporative-color;

//Personalización de componente bootstrap - paginador
$pagination-color: $corporative-color;
$pagination-focus-box-shadow: none;
$component-active-bg: $corporative-color;

// mixin para personalización de componente bootstrap - button
@mixin cook-btn {
  @include button-variant($contrast-color, //$background,
    $corporative-color, //$border,
    $corporative-color, //$color: color-contrast($background),
    $hover-background-color, //$hover-background: if($color == $color-contrast-light, shade-color($background, $btn-hover-bg-shade-amount), tint-color($background, $btn-hover-bg-tint-amount)),
    $corporative-color, //$hover-border: if($color == $color-contrast-light, shade-color($border, $btn-hover-border-shade-amount), tint-color($border, $btn-hover-border-tint-amount)),
    $corporative-color, //$hover-color: color-contrast($hover-background),
    $corporative-color, //$active-background: if($color == $color-contrast-light, shade-color($background, $btn-active-bg-shade-amount), tint-color($background, $btn-active-bg-tint-amount)),
    $corporative-color, //$active-border: if($color == $color-contrast-light, shade-color($border, $btn-active-border-shade-amount), tint-color($border, $btn-active-border-tint-amount)),
    $contrast-color, //$active-color: color-contrast($active-background),
    $disabled-corporative-color, //$disabled-background: $background,
    $disabled-corporative-color, //$disabled-border: $border,
    $disabled-corporative-color, //$disabled-color: color-contrast($disabled-background)
  );
}

@function calc-font-size() {
  @return calc(8px + 0.390625vw);
}