@use "sass:color";
@use "sass:map";
@use "sass:list";
@use "sass:meta";

// Variables globales
$corporative-color: color.hwb(351 13% 33%);
$corporative-color-hover: hwb(351 13% 33% / 0.8);
$corporative-background: hwb(0 45% 19% / 0.3);
$contrast-color: color.hwb(0 100% 0%);
$hover-background-color: hwb(349 85% 0%);
$disabled-corporative-color: hwb(0 53% 47%);
$corporative-secondary-bacground: hwb(0 66% 19% / 0.3);
$cook-master-breakpoints : (0px, 576px, 768px, 992px, 1200px, 1400px, 1600px, 1800px);
$title-font-size: 2.8rem;


@mixin font-menu {
  font-size: 1.5rem;
  color: color(display-p3 0.25 0.24 0.24);
  cursor: pointer;
  text-decoration: none;

  &:hover {
    @include hover-text();
  }

}

@mixin hover-text {
  text-shadow: 0 5px 10px color(display-p3 0.71 0.71 0.71);
}

@mixin hide {
  visibility: hidden;
  position: absolute;
}

@mixin show {
  visibility: visible;
  position: inherit;
}

@mixin author {
  position: absolute;
  right: 1%;
  bottom: 1%;
  background-color: $corporative-secondary-bacground;
  color: $contrast-color !important;
}

@mixin blockquote-format {
  border-left: 2px solid $corporative-color;
  margin: 3% 3% 0% 5%;
  padding-left: 5%;

  >q {
    font-size: 2.5vh;
    font-weight: bold;
  }

  >cite {
    font-size: 1.9vh;
  }
}

// modificación shadow bs
$box-shadow-sm: 0 0 20px color(display-p3 0.7 0.7 0.7);

//Personalización de componente bootstrap - card
$enable-shadows: "true";
$card-color: $corporative-color;
$card-bg: $corporative-secondary-bacground;
$card-title-color: $corporative-color;
$card-border-radius: none;
// $card-box-shadow: 0 .125rem 8rem hwb(0 0% 100% / 0.5);
$card-box-shadow: $box-shadow-sm;

//Personalización de componente bootstrap - breadcrumb
$breadcrumb-padding-y: 1%;
$breadcrumb-padding-x: 1%;
$breadcrumb-active-color: $corporative-color;

//Personalización de componente bootstrap - paginador
$pagination-color: $corporative-color;
$pagination-focus-box-shadow: none;
$component-active-bg: $corporative-color;

// mixin para personalización de componente bootstrap - button
@mixin cook-btn {
  @include button-variant(
    $contrast-color,
    $contrast-color, 
    $corporative-color,
    $contrast-color, 
    $contrast-color,
    $corporative-color,
    $contrast-color,
    $contrast-color,
    $contrast-color,
    $disabled-corporative-color,
    $disabled-corporative-color,
    $disabled-corporative-color
  );
}

@function calc-font-size() {
  @return calc(8px + 0.390625vw);
}

@mixin width($list) {
  @each $element in $list {
    @media (min-width: #{$element}) {
      width: calc-width($element, 40%);
    }
  }
}

@function calc-width($size, $widht-offset) {

  // 6.67%--> resultado de dividir 40/6. 40% que varía el width 
  // desde la pantalla del móvil hasta el pc más grande y 6 por 
  // los 6 breakpints definidos
  // $widht-offset : variación del width del elemento
  $number-od-breakpoints: length($cook-master-breakpoints) - 1;
  
  $increment: calc($widht-offset / $number-od-breakpoints);

  $step: list.index($cook-master-breakpoints, $size) - 1;
  $offset: calc($step * $increment);
  @return calc(100% - $offset);
}
