<ol class="breadcrumb">
    <li class="breadcrumb-item"><a class="list-group-item list-group-item-action" href="./index.html">inicio</a>
    </li>
    <li class="breadcrumb-item active" aria-current="page">chef</li>
</ol>

<main class="chef-grid__container">

    <article class="container__grid">

        <h1 class="grid-title text-center position-absolute">Finalistas de Cook Master 2024</h1>

        <section class="grid__card card text-center mb-3">
            <figure class="card__image">
                <img class="card-img-top" src="./assets/images/chef_1.jpg" alt="Foto del participante chef_1">
                <figcaption class="image__author figure-caption">© Designed by Freepik</figcaption>
            </figure>
            <div class="card-body">
                <h5 class="card-title">Carolina Hernandez</h5>
                <p class="card-text">Especialidad en marinados.</p>
                <div class="grid__stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                </div>
                <a href="#" class="grid__btn btn btn-primary">Conóceme</a>
            </div>
        </section>

        <section class="grid__card card text-center mb-3">
            <figure class="card__image">
                <img class="card-img-top" src="./assets/images/chef_2.jpg" alt="Foto del participante chef_2">
                <figcaption class="image__author figure-caption">© Designed by Freepik</figcaption>
            </figure>
            <div class="card-body">
                <h5 class="card-title">Juan González</h5>
                <p class="card-text">Lo suyo son los postres.</p>
                <div class="grid__stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                </div>
                <a href="#" class="grid__btn btn btn-primary">Conóceme</a>
            </div>
        </section>

        <section class="grid__card card text-center mb-3">
            <figure class="card__image">
                <img class="card-img-top" src="./assets/images/chef_3.jpg" alt="Foto del participante chef_3">
                <figcaption class="image__author figure-caption">© Designed by Freepik</figcaption>
            </figure>
            <div class="card-body">
                <h5 class="card-title">Antonio Delgado</h5>
                <p class="card-text">La comida rápida a base de horas.</p>
                <div class="grid__stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                </div>
                <a href="#" class="grid__btn btn btn-primary">Conóceme</a>
            </div>
        </section>

        <section class="grid__card card text-center mb-3">
            <figure class="card__image">
                <img class="card-img-top" src="./assets/images/chef_4.jpg" alt="Foto del participante chef_4">
                <figcaption class="image__author figure-caption">© Designed by Freepik</figcaption>
            </figure>
            <div class="card-body">
                <h5 class="card-title">Enrique Martín</h5>
                <p class="card-text">De panadero a estrella de la cocina.</p>
                <div class="grid__stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <a href="#" class="grid__btn btn btn-primary">Conóceme</a>
            </div>
        </section>

        <section class="grid__card card text-center mb-3">
            <figure class="card__image">
                <img class="card-img-top" src="./assets/images/chef_5.jpg" alt="Foto del participante chef_5">
                <figcaption class="image__author figure-caption">© Designed by Freepik</figcaption>
            </figure>
            <div class="card-body">
                <h5 class="card-title">Sofía Blanco</h5>
                <p class="card-text">Las verduras son su principal arma.</p>
                <div class="grid__stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-half"></i>
                </div>
                <a href="#" class="grid__btn btn btn-primary">Conóceme</a>
            </div>
        </section>

        <section class="grid__card card text-center mb-3">
            <figure class="card__image">
                <img class="card-img-top" src="./assets/images/chef_6.jpg" alt="Foto del participante chef_6">
                <figcaption class="image__author figure-caption">© Designed by Freepik</figcaption>
            </figure>
            <div class="card-body">
                <h5 class="card-title">Carmen López</h5>
                <p class="card-text">Entusiasmada y afanada de la pasta.</p>
                <div class="grid__stars">
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                    <i class="bi bi-star-fill"></i>
                </div>
                <a href="#" class="grid__btn btn btn-primary">Conóceme</a>
            </div>
        </section>

    </article>

    <div>
        <ul class="pagination">
            <li class="page-item disabled">
                <a class="page-link">Previous</a>
            </li>
            <li class="page-item active" aria-current="page"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
                <a class="page-link" href="#">Next</a>
            </li>
        </ul>
    </div>

</main>