<ol class="breadcrumb">
  <li class="breadcrumb-item"><a class="list-group-item list-group-item-action" href="./index.html">inicio</a>
  </li>
  <li class="breadcrumb-item active" aria-current="page">hall of fame</li>
</ol>

<main class="poster-container">

  <h1 class="page4-title text-center">Platos ganadores últimas ediciones</h1>

  <section class="poster-container__images">

    <div class="images__container">
      <img class="container__img" src="./assets/images/chef_2019.jpg" alt="Foto ganador concurso año 2019">
      <div class="container__info">
        <h3 class="h3">María Dueñas</h3>
        <p class="fs-6">Cook Master 2019</p>
        <button id="receip-btn-1" type="button" class="info__btn btn">Plato ganador</button>
      </div>
    </div>

    <div class="images__container">
      <img class="container__img" src="./assets/images/chef_2020.jpg" alt="Foto ganador concurso año 2020">
      <div class="container__info">
        <h3 class="h3">Pedro García</h3>
        <p class="fs-6">Cook Master 2020</p>
        <button id="receip-btn-2" type="button" class="info__btn btn">Plato ganador</button>
      </div>
    </div>

    <div class="images__container">
      <img class="container__img" src="./assets/images/chef_2021.jpg" alt="Foto ganador concurso año 2021">
      <div class="container__info">
        <h3 class="h3">David Gómez</h3>
        <p class="fs-6">Cook Master 2021</p>
        <button id="receip-btn-3" type="button" class="info__btn btn">Plato ganador</button>
      </div>
    </div>


    <div class="images__container">
      <img class="container__img" src="./assets/images/chef_2022.jpg" alt="Foto ganador concurso año 2022">
      <div class="container__info">
        <h3 class="h3">Carla Ruíz</h3>
        <p class="fs-6">Cook Master 2022</p>
        <button id="receip-btn-4" type="button" class="info__btn btn">Plato ganador</button>
      </div>
    </div>


    <div class="images__container">
      <img class="container__img" src="./assets/images/chef_2023.jpg" alt="Foto ganador concurso año 2023">
      <div class="container__info">
        <h3 class="h3">Natalia Rosi</h3>
        <p class="fs-6">Cook Master 2023</p>
        <button id="receip-btn-5" type="button" class="info__btn btn">Plato ganador</button>
      </div>
    </div>
  </section>

  <section class="poster-container__recipes shadow-sm">

    <input class="form-check-input invisible position-absolute" type="checkbox" value="" id="showVideo">
    <div class="recipes__arrow flex-row p-3 m-1">
      <label class="form-check-label" for="showVideo"><i class="bi bi-caret-up-fill"
          style="font-size: 1.2rem;"></i></label>
      <label for="showVideo">Ver receta</label>
    </div>

    <div class="recipes__description">

      <h2 class="description__title h1">Dulce de miel</h2>
      <h3 class="description__author h2">Natalia Rosi - 2023</h3>
      <p class="description__text">La prueba de que un postre también puede ser un ganador en un concurso de cocina</p>

      <div class="recipes__video-container">

        <div id="receip-video-1" class="video-container__video">
          <video class="ratio ratio-16x9" src="./assets/images/700_F_268868446_fvf10coOerhGAoMGhCto0bWEl4eThZlC_ST.mp4"
            controls loop autoplay></video>
        </div>

        <div id="receip-video-2" class="video-container__video">
          <video class="ratio ratio-16x9" src="./assets/images/240_F_695648854_ZNUYeUaTnm7JqWV5FYCusYFRhTmNMUsb_ST.mp4"
            controls loop autoplay></video>
        </div>

        <div id="receip-video-3" class="video-container__video">
          <video class="ratio ratio-16x9" src="./assets/images/700_F_302449150_PWy1JaNhA1DEjiGb7prqL5LHKqMssoF8_ST.mp4"
            controls loop autoplay></video>
        </div>

        <div id="receip-video-4" class="video-container__video">
          <video class="ratio ratio-16x9" src="./assets/images/700_F_328091735_q0pvzqp8QkOWAHNwLQFGw0EmuqfjdfHK_ST.mp4"
            controls loop autoplay></video>
        </div>

        <div id="receip-video-5" class="video-container__video">
          <video class="ratio ratio-16x9" src="./assets/images/700_F_726411062_2cYISwGyrhzkU7MD7Cl5N6fCJrmMU6Rh_ST.mp4"
            controls loop autoplay></video>
        </div>
      </div>

    </div>
  </section>

</main>