<main class="poster">

    <div class="poster__compose shadow-sm">
        <img class="compose__logo" src="./assets/images/logo_poster.png" alt="Logo del concurso">
        <img class="compose__logo-movil" src="./assets/images/logo_poster_movil.png" alt="Logo del concurso">

        <section class="compose__image-contaier">
            <img class="image-contaier__img" src="./assets/images/img1.jpg" alt="Imagen de enlace a sección apuntate">
            <div class="image-contaier__info">
                <div class="info__text">
                    <h3 class="h3">apuntate</h3>
                    <p class="fs-6">¿Te gusta la cocina?</p>
                </div>
                <button type="button" class="info__btn btn btn-info fs-6">Quiero apuntarme</button>
            </div>
        </section>

        <section class="compose__image-contaier">
            <img class="image-contaier__img" src="./assets/images/img2.jpg" alt="Imagen de enlace a sección cuando">
            <div class="image-contaier__info">
                <div class="info__text">
                    <h3 class="h3">cuando</h3>
                    <p class="fs-6">Reserva el día</p>
                </div>
                <button type="button" class="info__btn btn btn-info fs-6">Como llegar</button>
            </div>
        </section>

        <section class="compose__image-contaier">
            <img class="image-contaier__img" src="./assets/images/img3.jpg" alt="Imagen de enlace a sección categorías">
            <div class="image-contaier__info">
                <div class="info__text">
                    <h3 class="h3">categorías</h3>
                    <p class="fs-6">Dulces y salados</p>
                </div>
                <button type="button" class="info__btn btn btn-info fs-6">Más detalles</button>
            </div>
        </section>

        <section class="compose__description">
            <h2 class="description__title-compose h1">Cook Master 2024</h2>
            <p>No te pierdas las novedades que trae el mejor concurso de cocina del panorama nacional</p>
        </section>
    </div>

    <div class="poster__presentation shadow-sm">

        <section class="presentation__article">

            <figure class="article__photo">
                <img class="photo__img img-fluid" src="./assets/images/foto_portada.jpg"
                    alt="Foto segundo clasificado concurso año 2023">
                <figcaption class="photo__author figure-caption">© Designed by Freepik</figcaption>
            </figure>

            <div class="article__text position-relative">

                <h2 class="text__title">Segundo clasificado 2023 - Antonio García</h2>
                <p class="text__p">
                    Dulces y saladaos se juntan en el concurso culinario por excelencia. En esta ocasión
                    presentamos el plate de Antonio García, segundo clasificado en el año 2023, que sorprendió al
                    jurado con un plato frío pero muy apetecible.

                <blockquote class="text__cite blockquote">
                    <q>Ha sido un placer poder mostrar mis habilidades en la cocina. Sin duda este es el
                        mejor escaparate donde mostrar tus creaciones al mundo.
                    </q><br>
                    <cite>Antonio García, concursante Cook Master 2023</cite>
                </blockquote>
                </p>
            </div>
        </section>

    </div>

</main>